*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}

body{

   font-size: 1.2rem;
   background-image: url('/proyecto/img/samurai.jpg');
   background-size: cover;
   opacity: 0.9;
   transform: rotate();
}
body::before {
    
    background-image: url('/proyecto/img/samurai.jpg');
    background-size: cover;
    opacity: 0.7;
    transform: rotate(180deg);
}

header{
    background-color: #301919;
    border-color:#233833;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
header h1{
    padding: 3rem;
    font-size: 3rem; 
    text-decoration: none;
}

header  a{
    text-decoration: none;
    color: #ffffff;
    
}



header .nav_1{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 2rem;

}

nav ul{
    list-style: none;
    margin: 1rem;
    padding: 1rem;
    display: flex;
}

ul li a{
    color: antiquewhite;
    padding: 0 2rem;
    text-decoration: none;
    font-size: 2.5rem;
}

main{
    display: flex;
    flex-wrap: wrap;  
    height:80vh;
    justify-content: space-evenly;
    padding: 2rem;
}

.header_main{
    color: antiquewhite;
    background-color: #351b1b;
    
}

.blog1{
    
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    background-color:#181815 ;
    border-radius: 2pc;
    border: #b84c4c;
    color: #cfbdbd;
    padding: 2rem 3rem;
    margin: 1rem  0rem;
    order: 0;
    align-items: stretch;
}
.blog2{
    align-items: stretch;
    display: flex;
    flex-direction: column;
    width: 600%;
    height: 100%;
    background-color:#181815 ;
    border: #eccdcd;
    color: #cfbdbd;
    padding: 2rem 3rem;
    margin: 1rem  1rem;
    max-width: 400px;
    border-radius: 1pc;
    order: 1;
}
.blog p{
    font-size: 2rem;
}

footer{
    width: 100%;
    height: 10rem;
    background-color: #304d4d;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 2rem;

}

footer div{
    font-size: 2rem;
    color: rgb(228, 197, 197);
}

footer a{
    text-decoration: none;
    color: rgb(228, 197, 197);;
}